@import "../node_modules/nes.css/css/nes.css";

.dark-text {
    color: #212529;
}

body {
    background: antiquewhite;
}

.nes-container {
    background: white;
}

.nes-dialog {
    z-index: 999;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

a:hover, button:hover {
    text-decoration: none !important;
}

.break-text {
    overflow-wrap: break-word;
}