@import "../node_modules/nes.css/css/nes.css";

body {
    background: antiquewhite;

    .nes-container {
        background: white;
    }

    .theme-text {
        color: #212529;
    }
}

body.dark-theme {
    background: #212529;
    color: white;

    .nes-container {
        background: #212529;
    }

    .theme-text {
        color: white;
    }
}

.card {
    background: inherit;
}

.nes-dialog {
    z-index: 999;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

a:hover, button:hover {
    text-decoration: none !important;
}

.break-text {
    overflow-wrap: break-word;
}

.fit {
    width: fit-content;
}